# Global configuration
LLM_PROVIDER=azure_openai

# Azure OpenAI configuration
AZURE_OPENAI_API_KEY=your_azure_api_key
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_OPENAI_API_VERSION=2023-12-01-preview
AZURE_OPENAI_MODEL=the_model
AZURE_OPENAI_EMBEDDING_MODEL=the_embedding_model

# Gemini configuration
GEMINI_API_KEY=your_gemini_api_key

# Redis Connection (For LangGraph Memory/Checkpointer)
REDIS_HOST=host.docker.internal

# Vector Database (ChromaDB)
CHROMADB_HOST=http://host.docker.internal:8000

# Observability & Telemetry (Arize Phoenix / OpenTelemetry)
PHOENIX_PROJECT_NAME=vector-agent-v3
PHOENIX_COLLECTOR_ENDPOINT=http://host.docker.internal:4317
